<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TO DO LIST</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>
        <h1>✔ To-Do List</h1>
        <h3>ORGANISE YOUR TASKS & BE PRODUCTIVE</h3>
    </header>

    <section class="task-input">
        <form method="POST">
            <input type="text" placeholder="Enter a new task..." name="task">
            <button type="submit">Add Task</button>
        </form>
    </section>

    <section class="filters">
        <button onclick="location.href='{{ url_for('filter_tasks', status='all') }}'"
            {% if filter_status=='all' %}style="background:#6366f1;"{% endif %}>All</button>
        <button onclick="location.href='{{ url_for('filter_tasks', status='pending') }}'"
            {% if filter_status=='pending' %}style="background:#6366f1;"{% endif %}>Pending</button>
        <button onclick="location.href='{{ url_for('filter_tasks', status='completed') }}'"
            {% if filter_status=='completed' %}style="background:#6366f1;"{% endif %}>Completed</button>
    </section>

    <section class="task-list">
        <ul>
            {% for task in tasks %}
            <li>
                <input type="checkbox" onclick="location.href='{{ url_for('toggle', task_id=loop.index0) }}'"
                       {% if task.completed %}checked{% endif %}>

                <span {% if task.completed %}style="text-decoration: line-through;"{% endif %}>
                    {{ task.task }}
                </span>

                <div class="task-buttons">
                    <button onclick="location.href='{{ url_for('delete', task_id=loop.index0) }}'">Delete</button>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>

    <section class="task-counter">
        {% set completed_count = 0 %}
        {% for task in tasks %}
            {% if task.completed %}
                {% set completed_count = completed_count + 1 %}
            {% endif %}
        {% endfor %}
        <p>{{ tasks|length }} Tasks | {{ completed_count }} completed</p>
    </section>

    <section class="clear-completed">
        <button onclick="location.href='{{ url_for('clear_completed') }}'">Clear Completed</button>
    </section>

    <footer>
        <p>Stay Consistent, Stay Productive!</p>
    </footer>

</body>
</html>
